
body { margin: 0; padding-bottom: 4rem; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

#form { background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
#input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
#input:focus { outline: none; }
#form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }

#typing_status { position: fixed; font-size: small; height: 1rem; bottom: 3.25rem; left: 0; right: 0; text-align: center; color: lightgray; mix-blend-mode: difference; }

#conversation { list-style-type: none; margin: 0; padding: 10px; }

.message { width: 60%; padding: 0.5rem 1rem; border-radius: 5px; margin: 0.5rem; }
.message > span { color: darkgray; mix-blend-mode: difference; }

.user { background-color: white; padding: 2px; color: lightgray; }

.connection  {width: inherit; font-size: small ; background-color: white; padding: 2px; color: lightgray; text-align: center;}